
.idea/libraries/

.gradle/5.4.1/executionHistory/

.gradle/5.4.1/fileChanges/

.gradle/5.4.1/fileContent/

.gradle/5.4.1/fileHashes/

.gradle/5.4.1/

.gradle/buildOutputCleanup/

.gradle/vcs-1/

.idea/caches/

.idea/codeStyles/

.idea/

*.iml

*.properties
